@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-main-clr);

  --bg-primary: #f6f9fd;
  --bg-second: #f7f7f7;
  --font-main-clr: #555;
  --font-second-clr: #777;
  /* --note-clr: #f6f9fd; */
  --note-clr: #f7f9fb;
  --note-hover: #e9eff6;

  --color-btn: #0c73eb;
  --icon-hover: #d9d6e4;

  --h3-size: 1rem;

  --border-gray: 1px solid rgb(197, 197, 197);
  --border-rad: 3px;
  --box-shd: 0px 2px 6px 1px rgba(119, 119, 119, 0.3);
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
}

h3 {
  font-size: 1rem;
}

/* ------------------------------ Sidebar */

.sidebar {
  background-color: var(--bg-second);
  border-right: var(--border-gray);
  min-height: 100vh;
  overflow-y: auto;
}

.note-search {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.note-search input {
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: var(--border-rad);
  border: none;
  border: var(--border-gray);
}

.note-search input:focus {
  border: var(--border-gray);
  outline: none;
}

.note-input {
  max-width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 1.1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-input input {
  width: 80%;
  padding: 0.5rem 0;
  background-color: #fff;
  border: var(--border-gray);
  border-radius: var(--border-rad);
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgb(204, 204, 204);
}

.note-input input:focus {
  border: 5px solid red;
}

.note-input input::placeholder,
.note-input textarea::placeholder {
  color: rgb(204, 204, 204);
  padding-left: 10px;
}

.note-input textarea {
  width: 80%;
  font-size: 1rem;
  border-radius: var(--border-rad);
  background-color: #fff;
  border: var(--border-gray);
  color: rgb(204, 204, 204);
  outline: none;
}

.note-input textarea::placeholder {
  color: rgb(204, 204, 204);
}

.note-input textarea:focus {
  outline: 5px solid red;
}

.note-input select {
  margin-top: 1rem;
  width: 80%;
  border: var(--border-gray);
  outline: none;
}

.note-input-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-input-select {
  padding: 10px;
  border-radius: var(--border-rad);
}

.save-btn {
  border: none;
  background-color: var(--color-btn);
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  width: 80%;
  border-radius: var(--border-rad);
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 700;
}

.save-btn:hover {
  color: #222;
  background-color: rgb(246, 239, 255);
}

.note-history {
  margin-top: 1rem;
}

.note-history-item {
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
  padding: 0.5rem;
  cursor: pointer;
}

.note-history-item h3 {
  font-size: 0.8rem;
}

.note-history-item p {
  font-size: 16px;
}

.note-history-item:hover {
  background-color: var(--note-hover);
}

.note-history-item:focus,
.note-history-item:active {
  border: 1px solid #c6fced;
}

.note-history-header {
  display: flex;
  justify-content: space-between;
}

/* ----------------------------------- Note Item  */

.notes-list {
  background-color: var(--color-bg);
  display: grid;
  grid-template-rows: 175px;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 200px;
  max-height: 175px;
  border-radius: var(--border-rad);
  padding: 1rem;
  margin: 0.5rem;
  /* background-color: #c8b9f1; */
  /* background-color: #feb459; */
  background-color: var(--note-clr);
  color: var(--font-main-clr);
  cursor: pointer;
  box-shadow: var(--box-shd);
}

.note:hover {
  background-color: var(--note-hover);
  box-shadow: 0px 3px 6px 2px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 0px 3px 6px 2px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 0px 3px 6px 2px rgba(119, 119, 119, 0.3);
}

.note-title-true {
  display: block;
}

.note-title-false {
  display: none;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn,
.pin-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: var(--border-rad);
}

.delete-btn:hover,
.pin-icon:hover {
  background-color: var(--icon-hover);
}
