@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-main-clr);

  --bg-primary: #f9f9f9;
  --bg-second: #f8f8f8;
  --font-main-clr: #555;
  --font-second-clr: #777;
  --category-clr: #3cc47c;
  --note-clr: rgb(252, 252, 252);
  --note-hover: rgb(249, 249, 249);

  --color-btn: #0c73eb;
  --btn-hover: #0e7dfd;
  --icon-hover: #d9d6e4;

  --h3-size: 1rem;

  --border-gray: 2px solid rgb(235, 235, 235);
  --border-rad: 3px;
  --box-shd: 0px 1px 6px 0px rgba(119, 119, 119, 0.2);
  --input-outline: 2px solid #0e7dfd;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
}

h3 {
  font-size: 1rem;
}

select:focus,
input:focus {
  outline: var(--input-outline);
}

/* ------------------------------ Sidebar */

.sidebar {
  background-color: var(--bg-second);
  border-right: var(--border-gray);
  min-height: 100vh;
  overflow-y: auto;
}

.note-input {
  max-width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-input input {
  width: 80%;
  padding: 0.5rem 0;
  background-color: #fff;
  border: var(--border-gray);
  border-radius: var(--border-rad);
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--font-main-clr);
}

.note-input input:focus {
  outline: var(--input-outline);
}

.note-input input::placeholder,
.note-input textarea::placeholder {
  color: rgb(204, 204, 204);
  padding-left: 10px;
}

.note-input textarea {
  width: 80%;
  font-size: 1rem;
  border-radius: var(--border-rad);
  background-color: #fff;
  border: var(--border-gray);
  outline: none;
  color: var(--font-main-clr);
}

.note-input textarea::placeholder {
  color: rgb(204, 204, 204);
}

.note-input textarea:focus {
  outline: var(--input-outline);
}

.note-input select {
  margin-top: 1rem;
  width: 80%;
  border: var(--border-gray);
  outline: none;
  padding: 10px;
  border-radius: var(--border-rad);
}

.note-input select:focus {
  outline: var(--input-outline);
}

.note-input-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.save-btn {
  border: none;
  background-color: var(--color-btn);
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  width: 80%;
  border-radius: var(--border-rad);
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 700;
}

.save-btn:hover {
  background-color: var(--btn-hover);
}

.note-history {
  margin-top: 1rem;
}

.note-history-item {
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
  padding: 0.5rem;
  cursor: pointer;
}

.note-history-item h3 {
  font-size: 0.8rem;
}

.note-history-item p {
  font-size: 16px;
}

.note-history-item:hover {
  outline: 2px solid var(--color-btn);
}

.note-history-item:focus,
.note-history-item:active {
  border: 1px solid #c6fced;
}

.note-history-header {
  display: flex;
  justify-content: space-between;
}

/* ----------------------------------- Note Item  */

.notes-list {
  background-color: var(--bg-primary);
  display: grid;
  /* grid-template-rows: 175px; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 0.5rem;
}

.note-search {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* margin: 2rem; */
}
.note-search input {
  padding: 0.5rem 1.5rem;
  /* margin: 1rem; */
  border-radius: var(--border-rad);
  border: none;
  border: var(--border-gray);
}

.note-input-select {
  border: var(--border-gray);
  width: 250px;
  padding: 10px;
  border-radius: var(--border-rad);
  outline: none;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 200px;
  max-height: 175px;
  border-radius: var(--border-rad);
  padding: 1rem;
  margin: 1rem;
  /* background-color: #c8b9f1; */
  /* background-color: #feb459; */
  background-color: var(--note-clr);
  color: var(--font-main-clr);
  cursor: pointer;
  box-shadow: var(--box-shd);
}

.note:hover {
  background-color: var(--note-hover);
  box-shadow: 0px 1px 6px 1px rgba(119, 119, 119, 0.25);
}
/* 
.note h5 {
  color: var(--category-clr);
} */

.note p {
  color: var(--font-second-clr);
}

.note-title-true {
  display: block;
}

.note-title-false {
  display: none;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn,
.pin-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: var(--border-rad);
}

.delete-btn:hover,
.pin-icon:hover {
  background-color: var(--icon-hover);
}

.Important {
  color: #fc4a1a;
}

.Work {
  color: #f6c054;
}

.Personal {
  color: #5bca8f;
}

.School {
  color: #aa5aca;
}

.Home {
  color: #4999c7;
}
