@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-main-clr);

  --bg-primary: #f9f9f9;
  --bg-second: #f7f7f7;
  --font-main-clr: #555;
  --font-second-clr: #777;
  --font-light-clr: #999;
  --category-clr: #3cc47c;
  --note-clr: rgb(252, 252, 252);
  --note-hover: rgb(249, 249, 249);

  --color-btn: #0c73eb;
  --btn-hover: #0e7dfd;
  --icon-hover: #d9d6e4;

  --font-lrg: 1.2rem;
  --font-med: 1rem;
  --font-sml: 0.75rem;

  --border-gray: 2px solid rgb(235, 235, 235);
  --border-rad: 3px;
  --box-shd: 0px 1px 6px 0px rgba(119, 119, 119, 0.2);
  --box-hover: 0px 1px 6px 1px rgba(119, 119, 119, 0.25);
  --input-outline: 2px solid #0e7dfd;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
}

h5 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 5px;
  font-size: var(--font-med);
}

p {
  font-size: var(--font-sml);
}

select:focus,
input:focus {
  outline: var(--input-outline);
}

.burger-icon {
  display: none;
}

/* ------------------------------ Sidebar */

.sidebar {
  background-color: var(--bg-second);
  border-right: var(--border-gray);
  min-height: 100vh;
  overflow-y: auto;
}

.note-input {
  max-width: 100%;
  margin: 0 0 0.5rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note-input input {
  width: 80%;
  padding: 0.5rem 0;
  background-color: #fff;
  border: var(--border-gray);
  border-radius: var(--border-rad);
  margin-bottom: 1rem;
  font-size: var(--font-med);
  color: var(--font-main-clr);
}

.note-input input:focus {
  outline: var(--input-outline);
}

.note-input input::placeholder,
.note-input textarea::placeholder {
  color: var(--font-second-clr);
  padding-left: 10px;
}

.note-input textarea {
  width: 80%;
  font-size: var(--font-med);
  border-radius: var(--border-rad);
  background-color: #fff;
  border: var(--border-gray);
  outline: none;
  color: var(--font-main-clr);
}

.note-input textarea:focus {
  outline: var(--input-outline);
}

.note-input select {
  margin-top: 1rem;
  width: 80%;
  border: var(--border-gray);
  outline: none;
  padding: 10px;
  border-radius: var(--border-rad);
}

.note-input select:focus {
  outline: var(--input-outline);
}

.note-input-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.save-btn {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  border: none;
  background-color: var(--color-btn);
  color: #fff;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  width: 80%;
  border-radius: var(--border-rad);
  cursor: pointer;
  font-size: var(--font-med);
  font-weight: 700;
  box-shadow: var(--box-shd);
}

.save-btn .plus {
  padding-right: 10px;
}

.save-btn:hover {
  background-color: var(--btn-hover);
}

.note-history {
  margin-top: 1rem;
}

.note-history-item {
  border-top: var(--border-gray);
  border-bottom: var(--border-gray);
  padding: 0.5rem;
  cursor: pointer;
}

.note-history-item h3 {
  font-size: var(--font-sml);
}

.note-history-item:hover {
  outline: 2px solid var(--color-btn);
}

.note-history-item:focus,
.note-history-item:active {
  border: 1px solid #c6fced;
}

.note-history-header {
  display: flex;
  justify-content: space-between;
}

/* ----------------Media Query------------------ */

/* ----------------------------------- Note Item  */

.notes-list {
  background-color: var(--bg-primary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  gap: 0.5rem;
}

.note-search {
  background-color: var(--bg-primary);
}

.note-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.note-search input {
  padding: 0.5rem 0;
  border-radius: var(--border-rad);
  border: none;
  border: var(--border-gray);
}

.note-input-select {
  border: var(--border-gray);
  width: 250px;
  padding: 10px;
  border-radius: var(--border-rad);
  outline: none;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  min-width: 200px;
  max-height: 175px;
  border-radius: var(--border-rad);
  padding: 1rem;
  margin: 1rem;
  background-color: var(--note-clr);
  color: var(--font-main-clr);
  cursor: pointer;
  box-shadow: var(--box-shd);
}

.note:hover {
  background-color: var(--note-hover);
  box-shadow: var(--box-hover);
}

.note p {
  color: var(--font-second-clr);
  font-size: var(--font-med);
}

.note-title-true {
  display: block;
}

.note-title-false {
  display: none;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer p {
  font-size: var(--font-sml);
  color: var(--font-light-clr);
}

.delete-btn,
.pin-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: var(--border-rad);
}

.delete-btn:hover,
.pin-icon:hover {
  background-color: var(--icon-hover);
}

.Important {
  color: #fc4a1a;
}

.Work {
  color: #f6c054;
}

.Personal {
  color: #5bca8f;
}

.School {
  color: #aa5aca;
}

.Home {
  color: #4999c7;
}

/* ---------------------Media Query */

@media (max-width: 1024px) {
  .note-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
  }

  .note-search-input,
  .note-search-category {
    width: 310px;
  }

  .note-search-input {
    width: 247px;
    margin-bottom: 1rem;
  }

  .notes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .note {
    margin: 0.5rem;
    padding: 0.75rem;
  }
}

@media (max-width: 820px) {
  .burger-icon {
    display: block;
    font-size: 2rem;
    padding: 0 0 1rem 0;
    cursor: pointer;
  }

  .App {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .notes-list {
    padding: 0 0.5rem;
  }
}

@media (max-width: 600px) {
  .notes-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .note-search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    /* width: 80%; */
  }

  .note-search-category {
    width: 75%;
  }

  .note-search-input {
    width: 75%;
    margin-bottom: 1rem;
  }
}
