@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #888;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* ------------------------------ Sidebar */

.sidebar {
  background-color: rgb(17, 15, 24);
  height: 100%;
  overflow-y: auto;
}

.note-search {
  background-color: rgb(35, 31, 51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.note-search input {
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 20px;
  border: none;
  border: 3px solid rgb(197, 197, 197);
}

.note-search input:focus {
  border: 3px solid #c6fced;
  outline: none;
}

.note-input {
  max-width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
}

.note-input-container input {
  padding: 0.5rem;
  background-color: rgb(71, 69, 78);
  outline: 1px solid #999;
  border: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgb(204, 204, 204);
}

.note-input textarea {
  font-size: 1rem;
  background-color: rgb(71, 69, 78);
  border: none;
  color: rgb(204, 204, 204);
}

.note-input textarea::placeholder {
  color: rgb(204, 204, 204);
}

.note-input textarea:focus {
  outline: 2px solid #444;
}

.note-input h3 {
  border-bottom: 2px solid #444;
  margin-bottom: 1rem;
}

.note-input-footer {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  border: none;
  background-color: #fff;
  color: #444;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 700;
}

.save-btn:hover {
  color: #222;
}

.note-history {
  margin-top: 1rem;
}

.note-history-item {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  cursor: pointer;
}

.note-history-item:hover {
  background-color: #2c293f;
}

.note-history-item:focus,
.note-history-item:active {
  border: 1px solid #c6fced;
}

/* ----------------------------------- Note Item  */

.notes-list {
  background-color: rgb(35, 31, 51);
  display: flex;
  flex-wrap: wrap;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: auto;
  min-height: 200px;
  min-width: 200px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem;
  /* background-color: #c8b9f1; */
  background-color: rgb(76, 68, 109);
  /* background-color: #feb459; */
  /* background-color: #c6fced; */
  color: rgb(204, 204, 204);
  cursor: pointer;
}

.note:hover {
  background-color: rgb(101, 93, 134);
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  cursor: pointer;
}
