@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
}

.App {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
}

.sidebar {
  background-color: #9e8fe7;
  border-right: 1px solid black;
  height: 100vh;
}

.search-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-header input {
  /* width: 280px; */
  /* width: 80%; */
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 20px;
  border: none;
  border: 3px solid rgb(197, 197, 197);
}

.search-header input:focus {
  border: 3px solid #374785;
  outline: none;
}

.note-input {
  height: 230px;
  max-width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 1rem;
}

.note-input textarea {
  font-size: 1rem;
  background-color: #9e8fe7;
  border: none;
}

.note-input textarea:focus {
  outline: 2px solid #444;
}

.note-input h3 {
  border-bottom: 2px solid #444;
  margin-bottom: 1rem;
}

.note-input-footer {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  border: none;
  background-color: #444;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.85rem;
}

.save-btn:hover {
  background-color: rgb(44, 44, 66);
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  min-width: 200px;
  max-height: 250px;
  max-width: 250px;
  border-radius: 8px;
  padding: 1rem;
  margin: 1.5rem;
  background-color: #fef68a;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  cursor: pointer;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
}
